@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor--primaria: #000000;
    --cor--secundaria:#0EBCBB;
    --cor--tercearia:#11F0F0;
    --cor--hoverRede:#5AF2F2;
    --fonte-primaria:'Krona One', sans-serif;
    --fonte-secundaria:'Montserrat', sans-serif;

}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor--primaria);
    box-sizing: border-box;
    color: var(--cor--secundaria);
}

.cabecalho {
    padding: 2% 0% 0% 12.5%;
}

.cabecalho_menu {
    display: flex;
    gap: 80px
}

.cabecalho_menu_item {
    color: var(--cor--tercearia);
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    padding: 10px;
    transition: .5s;
    border-radius: 20px;
}

.instagram-img {
    width: 50px;
    height: 50px;
    margin-left: 2rem;
}

.cabecalho_menu_item:hover { 
    background-color: var(--cor--hoverRede);
    transform: scale(0.96);
    border-radius: 20px;
    color: black;
}

.apresentacao {
    align-items: center;
    display: flex;
    gap: 82px;
    justify-content: space-between;
    padding: 8% 12.5%;
}

.apresentacao_texto {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao_texto_titulo {
    font-family: var(--fonte-primaria);
    font-size: 2.25rem;
}

.apresentacao_texto_titulo--destaque {
    color: var(--cor--tercearia);
}

.apresentacao_texto_descricao {
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
}

.apresentacao_texto_divLink {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: space-between;
}

.apresentacao_texto_divLink_texto {
    font-family: var(--fonte-primaria);
    font-size: 1.5rem;
    font-weight: 400;
}

.apresentacao_texto_divLink_social {
    border: 2px solid var(--cor--tercearia);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-borer-radius: 8px;
    -o-border-radius: 8px;
    color: var(--cor--secundaria);
    display:flex;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    gap: 16px;
    justify-content: center;
    padding: 21.5px 0;
    text-align: center;
    text-decoration: none;
    width: 50%;
    transition: .2s
}

.apresentacao_imagem {
    width: 50%;
    border: 2px solid var(--cor--secundaria);
    border-radius: 100%
}

.rodape {
    background-color: var(--cor--tercearia);
    padding: 24px;
}

.rodape__texto {
    color: var(--cor--primaria);
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    text-align: center;
    font-weight: 400;
}

.apresentacao_texto_descricao ul li a {
    text-decoration: none;
    color: var(--cor--tercearia);
}

.apresentacao_texto_divLink_social:hover {
    background-color: var(--cor--hoverRede);
    transform: scale(0.96);
    color: black;
}

@media (max-width: 1200px) {
    .cabecalho {
        padding: 10% 0 0 0;
    }

    .cabecalho_menu{
        justify-content: center;
    }

    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__texto {
        width: auto;
    }
}